PORT=8000
MONGODB_URI=mongodb+srv://mannu:makhan9211@cluster0.woa971v.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=makhanbackend
ACCESS_TOKEN_EXPIRY=1D
REFRESH_TOKEN_SECRET=makhan9211
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=df7f4xctu
CLOUDINARY_API_KEY=862953771658312
CLOUDINARY_API_SECRET=YyzsKhbR4N4o-LO42G1TD6SJ158

