PORT=8000
MONGODB_URI=mongodb+srv://mannu:makhan9211@cluster0.woa971v.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=makhanbackend
ACCESS_TOKEN_EXPIRY=1D
REFRESH_TOKEN_SECRET=makhan9211
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>

